*{
    background-color: whitesmoke;
    
}
.navcontainer{
    height: 50px;
    width: 100vw;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    padding-top:10px;
}
ul{
    list-style: none;
    display: flex;
    text-indent: 40px;
    font-size: 15px;
    font-weight: 200;
    position: relative;
    top: -48px;
    left: 120px;
}
#right{
    display: list-item;
    position: relative;
    top: 0%;
    line-height: 40px;
    left: -50px;
}
#right2{
    display: list-item;
    position: relative;
    top: 0%;
    line-height: 40px;
    left: -50px;
}
#browse{
    color: gray;
}
#rightp{
    position: relative;
    left: 10px;
}
button{
    height: 40px;
    width: 600px;
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    top: -130px;
    left: 450px;
}
/* section{
    background-color: white;
} */
 select{
    position: relative;
    left: 500px;
    top: -125px;
    border: 0;
    font-size: 20px;
    font-weight: 100;
 }
 
 #side{
    list-style: none;
    display: flex;
    position: relative;
    top: -83px;
    left:1250px;
 }
